extends layout

block content
    h1#h1
    | 输入你要搜索的关键词
    br
    input#keyword(type='text', name='keyword')
    br
    | 请输入你要抓取的页码
    br
    input#pages(type='text')
    br
    | 选择你要模拟的设备
    br
    | ipad
    input(type='checkbox', name='device', value='ipad' )
    | iphone5
    input(type='checkbox', name='device', value='iphone5')
    | iphone6
    input(type='checkbox', name='device',value='iphone6')
    | pc
    input(type='checkbox', name='device' value='pc')
    br

    button#submit 提交
    div#container
    div#imgs
