<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src='./jquery.js'></script>
	<script src='./json2html.js'></script>
	<script src='.jquery.json2html.js/'></script>
	<script>
		$(document).ready(
			function()
			{
				$('button').click(function(){
					$.post('http://localhost:3000/baidu',
						{keyword:$('#keyword').val(),
						phone:$('#phone').val()
					},
					function(data,status)
					{
						var tranform=
						{
							"<>":"h3","html":'device: ${device} code:${code} msg:${msg} word:${word} time:${time} '
						}

					})
				})

			})
	</script>
</head>
<body>

<div id="container">

</div>
</body>

</html>