<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src='./jquery.js'></script>
	<script src='./json2html.js'></script>
	<script src='.jquery.json2html.js/'></script>
	<script src='md5.js'></script>

	<script>
		$(document).ready(
			function()
			{   var socket=io.connect('http://localhost:3000');
				$('button').click(function(){
					socket.emit('client',[iphone5 ,3])
					socket.on('server',function(content)
					{
						alert(content);
					})



				})

			})
	</script>
</head>
<body>

请输入你要抓取的页码<input type="text" id="pages">
选择你要模拟的设备
ipad<input type="checkbox" name="ipad" >
iphone5<input type="checkbox" name="iphone5">
iphone6<input type="checkbox" name="iphone6">
pc<input type="checkbox" name="pc">


</body>

</html>