<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src='./jquery.js'></script>
	<script src='./json2html.js'></script>
	<script src='.jquery.json2html.js/'></script>
	<script src='md5.js'></script>

	<script>
		$(document).ready(
			function()
			{
				$('button').click(function(){
					$.post('http://localhost:3000/baidu',
						{keyword:$('#keyword').val(),
						phone:$('#phone').val()
					},
					function(data,status)
					{
						var tranform=
						{
							"<>":"li","html":'img ${img} info ${info} link ${link} title ${title}'
						};
						$('#container').
						for(var i=0;i<data.length;i++)
						{
							if(data[i].img!=="")
							{
								let md5=hex_md5(data[i].img);
								$('#imgs').append("<img src="+"http://localhost:3000/public/images/"+md5+"png"+">");
							}
						}
					})
				})

			})
	</script>
</head>
<body>

<div id="container">

</div>
</body>

</html>