body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
table
{
	table-layout: fixed;
	width: 600px;
}
td {
	word-wrap: break-word;
	width: 150px;
	overflow: hidden;
}